{% extends 'base.html' %}
{% load static %}
{% block title %}Employee List{% endblock %}

{% block content %}
    <h1>Employee List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Designation</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.name }}</td>
                <td>{{ employee.designation }}</td>
                <td>{{ employee.description|truncatewords:20 }}</td>
                <td>
                    <a href="{% url 'employee_detail' employee.id %}" class="btn">View Details</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
